html, body {
  height: 100%;
  width: 100%;
}

span.answer {
}

.answer,.results {
  text-align: center;
  vertical-align: middle;
}

.answer {
  width: 100%;
  font-size: 100px;
}
.results {
}

.source {
  font-size: 80%;
}
